.btn {
  background: #fc7614;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.187rem;
  text-align: center;
  border: none;
  padding: 1.2rem 0;

  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #fc7614;
  }
}

@media (min-width: 1440px) {
  .btn {
    padding: 1.3rem 0;
  }
}
